

/* contact-page */
.contact-info{margin: 60px 0 0;}
.contact-info i{color: #fff; height: 40px; width: 40px; background: #c0462d; border-radius: 50%; padding-top: 10px;}
.contact-info p{margin: 1.5rem 0;}
.contact-info>div{align-self: center;}
.contact form input{ background-color: #f5f5f5; min-width:30%; height: 3rem; border: none; margin-bottom: 40px;}
.contact .flex{width: 100%; justify-content: space-between; flex-flow: wrap;}
.contact{margin-left: 80px;}
.contact a{background: #c0462d; line-height: 51px; width: 185px;border-radius: 10px; display: block; margin:1rem 0 0 28rem ; color: #fff; font-size: 20px; font-weight: 500;}
.cont{white-space: nowrap; align-self:center;}
.cont a{display: block; margin: 1rem;}
.cont-option{flex-flow: nowrap; gap: 2rem;}
textarea{background: #f5f5f5;border: none; height: 10rem;}