

footer{ background: #000; color: #fff;padding: 80px 0 24px;}
footer h3{font-size: 24px; margin-bottom: 24px;}
footer p{margin: 10px 0;}
footer a{color: inherit;}
footer form{position: relative; border: 1.5px solid #fff; border-radius: 4px;}
footer form input{width: 100%; background: none; border: none; height: 48px; color: #fff;}
footer form button{position: absolute; right: 17px; top: 50%; transform: translateY(-50%); background: none; border: none; color: inherit;}
footer form input::placeholder{color: #fff5;}
footer form input:focus{outline: none;}
.copy{color: #3d3d3d; border-top: 1px solid #fff5; padding: 5px 0; margin-top: 60px;}
.downloads{margin: 12px 0 24px;}
.playstore,  .appstore{display: block; width: 134px; line-height: 15px; border: 1px solid #fff; border-radius: 4px; margin: 0 0 10px 10px;}
.playstore span, .appstore span{font-size: 10px; }
